* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.head {
    display: grid;
    background: #ddd;
    height: 100px;
}

.container-1 {
    display: grid;
    background-color: gray;
    grid-template-columns: 1fr 2fr 1fr; 
    grid-auto-rows: 300px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.box-a {
    grid-column: 1/2;
    grid-row: 1/5;
    background-color: green;
}

.box-b {
    grid-column: 2/4;
    grid-row: 1/5;
    background-color: rgb(58, 182, 58);
}

.box-c {
    grid-column: 3/5;
    grid-row: 1/5;
    background-color: rgb(238, 238, 70);
}

.footer {
    display: grid;
    background: #ddd;
    height: 100px;
}

@media(max-width:555.56px) {


    .container-1 {

        grid-template-columns:(4, 1fr)

    }

    .box-b {
        grid-column: 1/5;
        grid-row: 1/3;
        background-color: rgb(58, 182, 58);
    }

    .box-a {
        grid-column: 1/5;
        grid-row: 3/4;
        background-color: green;

    }

    .box-c {
        grid-column: 1/5;
        grid-row: 4/5;
        background-color:rgb(238, 238, 70);
    }

   

}