*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.head{
    display:grid;
    background: #ddd;
   height: 100px;
}
.container-1{
    display: grid;
   background-color: gray;
grid-template-columns: 2fr 2fr 1fr;
grid-auto-rows:300px ;
margin-top: 8px;
   margin-bottom: 8px;
}
.box-a{
grid-column: 1/3;
grid-row: 1/2;
background-color: red;
}

.box-b {
grid-column: 1/3;
    grid-row: 2/3;
    background-color: orange;
}
.box-c {
grid-column: 3/4;
    grid-row: 1/3;
    background-color: yellow;
}
.footer{
    display:grid;
background: #ddd;
height: 100px;
}
@media(max-width:555.56px){
    * {
            box-sizing: border-box;
          
        }
    
        body {
            margin: 0px;
        }
    
        .head {
           
            display: grid;
            background: #ddd;
            height: 100px;
        }
    
        .container-1 {
           
            grid-template-columns: 2fr 2fr 2fr;
            
        }
    
        .box-a {
            grid-column: 1/7;
            grid-row: 1/3;
            background-color: red;
        }
    
        .box-b {
            grid-column: 1/7;
            grid-row: 3/5;
            background-color: orange;
        }
    
        .box-c {
            grid-column: 1/7;
            grid-row: 5/7;
            background-color: yellow;
        }
    
        .footer {
            display: grid;
            background: #ddd;
            height: 100px;
           
        }

}